
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>学校内景</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<!--[if lt IE 9]>
		  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
		  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!---- 顶部导航 开始 ------------>
		<header>
			<div class="header-container">
				<div class="logoDiv clearfix">
					<div class="wrap">
						<a href="index.html" class="fl logoImg"><img src="images/logo.png" alt=""/></a>
						<a href="###" class="fr orderDiv" data-toggle="modal" data-target="#myModal"><span>参观预约</span></a>
					</div>
				</div>
				<a href="###" class="mbtn"></a>
				<div class="menu">
					<div class="wrap">
						<ul class="level1 clearfix">
							<li class="level">
								<a href='aboutAfa.html'>关于法拉古特<span>About AFA</span></a>
								<ul class="level2">
									<li><a href="###">美国佛州百年名校 <span>Century- Elite School in the Florida US</span></a></li>
									<li><a href="###">总校长致辞 <span>Message from Florida Headmaster</span></a></li>
									<li><a href="###">法拉古特是谁 <span>Who is Admiral Farragut Academy?</span></a></li>
									<li><a href="###">两名登月宇航员 <span>The Two Astronauts</span></a></li>
									<li><a href="###">法拉古特在中国 <span>AFA China</span></a></li>
								</ul>
							</li>
							<li class="level">
								<a href='aboutUs.html'>学校介绍<span>About Us</span></a>
								<ul class="level2">
									<li><a href="###">美国佛州百年名校 <span>Century- Elite School in the Florida US</span></a></li>
									<li><a href="###">总校长致辞 <span>Message from Florida Headmaster</span></a></li>
									<li><a href="###">法拉古特是谁 <span>Who is Admiral Farragut Academy?</span></a></li>
									<li><a href="###">两名登月宇航员 <span>The Two Astronauts</span></a></li>
									<li><a href="###">法拉古特在中国 <span>AFA China</span></a></li>
								</ul>
							</li>
							<li class="level">
								<a href='life.html'>校园生活<span>Campus Life</span></a>
								<ul class="level2">
									<li><a href="###">美国佛州百年名校 <span>Century- Elite School in the Florida US</span></a></li>
									<li><a href="###">总校长致辞 <span>Message from Florida Headmaster</span></a></li>
									<li><a href="###">法拉古特是谁 <span>Who is Admiral Farragut Academy?</span></a></li>
									<li><a href="###">两名登月宇航员 <span>The Two Astronauts</span></a></li>
									<li><a href="###">法拉古特在中国 <span>AFA China</span></a></li>
								</ul>
							</li>
							<li class="level">
								<a href='eduTea.html'>教育及教学<span>Education and Teaching</span></a>
								<ul class="level2">
									<li><a href="###">美国佛州百年名校 <span>Century- Elite School in the Florida US</span></a></li>
									<li><a href="###">总校长致辞 <span>Message from Florida Headmaster</span></a></li>
									<li><a href="###">法拉古特是谁 <span>Who is Admiral Farragut Academy?</span></a></li>
									<li><a href="###">两名登月宇航员 <span>The Two Astronauts</span></a></li>
									<li><a href="###">法拉古特在中国 <span>AFA China</span></a></li>
								</ul>
							</li>
							<li class="level">
								<a href='activity.html' class="on">东莞校区动态<span>Campus Dynamics</span></a>
								<ul class="level2">
									<li><a href="###">教学团队 <span>Teacher team</span></a></li>
									<li><a href="###">三年制高中班 <span>Three-year High School Curriculum Program</span></a></li>
									<li><a href="###">国际大学升学指导 <span>University Application Guidance</span></a></li>
									<li><a href="###">校内心理咨询 <span>Psychological Consulting</span></a></li>
								</ul>
							</li>
							<li>
								<a href='contact.html'>联系我们<span>Contact Us</span></a>
							</li>
						</ul>
				
					</div>
				</div>
			</div>
		</header>
		<!----顶部导航 结束 ------------>
		
		<div class="main">
			
			<!-----banner 结束----->
			<div class="activity-main">
				
				<div class="activity-div">
					<div class="wrap">
						<div class="titleDiv">
							<span class="fl">学校内景</span>
							<span class="fr">Campus Scenes</span>
						</div>
						<div class="imgList">
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
							<div class="itemDiv">
								<img class="samLazyImg"  data-original="img/ny-img1.jpg" alt=""/>
								<div class="text"><strong>教室</strong>   classroom</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			
			<!--footer-->
			<div class="footer">
				<div class="wrap">
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<div class="conDiv">
								<img src="images/logo-down.png"/>
								<div class="textDiv">
									<div class="telDiv">座机电话：<br />07693353-8877</div>
									<div class="addrDiv">东莞市东城街道东城光明路6号</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-xs-12 rightDiv">
							<div class="ewmDiv">
								<img src="images/ewm1.jpg"/>
								<span>法拉古特东莞校区</span>
							</div>
							<div class="ewmDiv">
								<img src="images/ewm2.jpg"/>
								<span>法拉古特东莞校区招生主任：Kevin</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!--弹窗-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">咨询与报名</h4>
					</div>
					<div class="modal-body">
						<form action="" method="post">
							<div class="form-group">
								<input type="text" name="" id="" value="" class="form-control" placeholder="姓名"/>
							</div>
							<div class="form-group">
								<label for="sex1" class="radio-inline">男<input type="radio" id="sex1" name="sex" checked/></label>
								<label for="sex2" class="radio-inline">女<input type="radio" id="sex2" name="sex"/></label>
							</div>
							<div class="form-group">
								<input type="text" name="" id="" value="" class="form-control" placeholder="电话"/>
							</div>
							<div class="form-group">
								<input type="text" name="" id="" value="" class="form-control" placeholder="就读学校"/>
							</div>
							<div class="form-group">
								<select class="form-control">
							      <option value="">现在就读年级</option>
							    </select>
							</div>
							<button type="button" class="subBtn">提 交</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	  	
	</body>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/wow.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$("img.samLazyImg").lazyload({
		  placeholder : "img/logo-down.png", //用图片提前占位
		  effect: "fadeIn", // 载入使用何种效果
		  threshold: 0, // 提前开始加载
		  failurelimit : 10 // 图片排序混乱时
		});
	</script>
</html>
