<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>{xiao:$site_title}</title>
		<meta name="keywords" content="{xiao:$site_keywords}" />
		<meta name="description" content="{xiao:$site_description}" />
        <link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/animate.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/swiper.min.css"/>''-->
		<link rel="stylesheet" href="{xiao:$site_template}css/sangarSlider.css" type="text/css" media="all">
		<link rel="stylesheet" href="{xiao:$site_template}css/default.css" type="text/css" media="all">
		<link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/style.css"/>
		<!--[if lt IE 9]>
		  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
		  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
        
	</head>
	<body>
		<!---- 顶部导航 开始 ------------>
		<header>
			<div class="header-container">
				<div class="logoDiv clearfix">
					<div class="wrap">
						<a href="/" class="fl logoImg"> {xiao:list table=diy_bt1  num=1}<img src="{xiao:$xiao['wangzhan']}" alt=""/></a> {/xiao:list} 
						<a href="###" class="fr orderDiv" data-toggle="modal" data-target="#myModal"><span>参观预约</span></a>
					</div>
				</div>
				<a href="###" class="mbtn"></a>
				<div class="menu">
					<div class="wrap">
						<ul class="level1 clearfix">
							{xiao:nav num=6}
							<li class="level">
								<a href="{xiao:$xiao['url']}" {xiao:if $xiao['xin']!=""} target="_blank"{xiao:else} {/xiao:if}>{xiao:$xiao['catname']}<span>{xiao:$xiao['yw']}</span></a>
                                 {xiao:if  $xiao['child']}
								<ul class="level2">
                                 {xiao:nav parentid=$xiao[catid] }
									<li><a href="{xiao:$xiao['url']}" {xiao:if $xiao['xin']!=""} target="_blank"{xiao:else} {/xiao:if}>{xiao:$xiao['catname']}<span>{xiao:$xiao['yw']}</span></a></li>
                                {/xiao:nav}
								</ul>
                                {/xiao:if}
							</li>
                        {/xiao:nav}
						</ul>
				
					</div>
				</div>
			</div>
		</header>
		<!----顶部导航 结束 ------------>
		
		<div class="main">
			<!-----banner 开始----->
			<div class="index-banner jq22-container">
				<div class="jq22-content bgcolor-3">
					<div class='sangar-slideshow-container' id='sangar-example'>
						<div class='sangar-content-wrapper' style='display:none;'>	
                        		
                                {xiao:list table=diy_huan   num=15}
							<div class='sangar-content'>
								<img src="{xiao:$xiao['tp']}"/>
								<div class="wrap">
					        		<div class="textContent wow fadeInRight">
					        			{xiao:$xiao['wenzi']}
					        		</div>
				        		</div>
							</div>
                            {/xiao:list}
						</div>
					</div>	
				</div>
			</div>
			<!-----banner 结束----->
			<div class="index-main">
				<!--div1-->
				<div class="index-div1">
					<div class="wrap">
						<div class="titleDiv">{xiao:$cats[1][catname]} About Farragut</div>
						<div class="textDiv">
							{xiao:list table=diy_bt1  num=1}{xiao:function.htmlspecialchars_decode($xiao['guanyu'])}{/xiao:list} 
							<!-- <a href="{xiao:$cats[1][url]}" class="more_a">更多 MORE</a> -->
							{xiao:list table=diy_bt1  num=1}<img src="{xiao:$xiao['tup']}" alt=""/>{/xiao:list} 
						</div>
					</div>
				</div>
			
				<!--div2-->
				<div class="index-div2">
					{xiao:list table=diy_bt1  num=1}<div class="bgImg" style="background-image: url({xiao:$xiao['bjt']});background-position: 50% 50%;background-attachment: fixed;">{/xiao:list} 
					</div>
					<div class="wrap">
						<div class="titleDiv">{xiao:$cats[12][catname]}&nbsp;{xiao:$cats[12][yw]}</div>
						<div class="textDiv">
							{xiao:list table=diy_bt1  num=1}{xiao:function.htmlspecialchars_decode($xiao['jiaoshituanduituan'])}{/xiao:list} 
						</div>
						<div class="row">
                        
                        {xiao:list catid=12 num=3 xiaocms=1}
							<div class="col-md-4 col-xs-12">
								{xiao:if $xiao['wb']!=""}<a href="{xiao:$xiao['wb']}" target="_blank"><img src="{xiao:$xiao['thumb']}" alt=""/></a>
                                {xiao:else}<a href="{xiao:$xiao['url']}" target="_blank"><img src="{xiao:$xiao['thumb']}" alt=""/></a>
                                {/xiao:if}
								<div class="textDiv">
									<span>{xiao:$xiao['yingwen']}</span>
									<p>{xiao:$xiao['title']}</p>
								</div>
							</div>
                       {/xiao:list} 
						</div>
						<a href="{xiao:$cats[12][url]}" class="more_a">更多教师信息    MORE TEACHER INFORMATION</a>
					</div>
				</div>
				
				<!--div3-->
				<div class="index-div3">
					<div class="wrap">
						<div class="titleDiv" style="display:none;">{xiao:$cats[13][catname]}&nbsp;{xiao:$cats[13][yw]}</div>
						<div class="textList">
							<ul>
                            
                        {xiao:list catid=39 num=5 xiaocms=1}
						{xiao:if $xiao['wb']!=""}<li><a href="{xiao:$xiao['wb']}" target="_blank"><span class="text">{xiao:$xiao['title']}</span><span class="date">{xiao:function.date("Y.m.d", $xiao['time'])}</span></a></li>
                        {xiao:else} 
                        <li><a href="{xiao:$xiao['url']}" target="_blank"><span class="text">{xiao:$xiao['title']}</span><span class="date">{xiao:function.date("Y.m.d", $xiao['time'])}</span></a></li>
                        {/xiao:if}
                            {/xiao:list}
							</ul>
						</div>
						<a href="{xiao:$cats[39][url]}" class="more_a">更多 MORE</a>
					</div>
				</div>
				
				
			</div>
			
            
			<!--footer-->
			 {xiao:list table=diy_bt1  num=1}
<div class="footer">
				<div class="wrap">
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<div class="conDiv">
								<img src="{xiao:$xiao['logo']}"/>
								<div class="textDiv">
									<div class="telDiv">座机电话：<br />{xiao:$xiao['dh']}</div>
									<div class="addrDiv">{xiao:function.htmlspecialchars_decode($xiao['dz'])}</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-xs-12 rightDiv">
							<div class="ewmDiv">
								<img src="{xiao:$xiao['ewm1']}"/>
								<span>{xiao:$xiao['wz1']}</span>
							</div>
							<div class="ewmDiv">
								<img src="{xiao:$xiao['ewm2']}"/>
								<span>{xiao:$xiao['wz2']}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
            
   {/xiao:list}          

		</div>
		
		<!--弹窗-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">咨询与报名</h4>
					</div>
					<div class="modal-body">
						<form action="/index.php?c=index&a=form&modelid=10" method="post">
							<div class="form-group">
								<input type="text" name="data[xm]" id="" value="" class="form-control" placeholder="姓名" required="required" oninvalid="setCustomValidity('请填写您的姓名')" oninput="setCustomValidity('')"/>
							</div>
							<div class="form-group">
								<label for="sex1" class="radio-inline">男<input type="radio" id="sex1" name="data[sex]" checked="checked" value="男"/></label>
								<label for="sex2" class="radio-inline">女<input type="radio" id="sex2" name="data[sex]" value="女"/></label>
							</div>
							<div class="form-group">
								<input type="telephone"  name="data[tel]" id="" value="" class="form-control" placeholder="电话"  required="required" oninvalid="setCustomValidity('请填写您的电话')" oninput="setCustomValidity('')"/>
							</div>
							<div class="form-group">
								<input type="text" name="data[xue]" id="" value="" class="form-control" placeholder="就读学校" />
							</div>
							<div class="form-group">
								<select class="form-control" name="data[nianji]">
							      <option value="">现在就读年级</option>
                                 {xiao:list table=diy_bt1   num=1}
{xiao:function.htmlspecialchars_decode($xiao['yue'])}
{/xiao:list}
							    </select>
							</div>
                            <input type="submit" value="提 交" class="subBtn"  />
                            </form>
						
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
	
	</body>
    </html>
            
	<script src="{xiao:$site_template}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{xiao:$site_template}js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="{xiao:$site_template}js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="{xiao:$site_template}js/wow.min.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="{xiao:$site_template}js/swiper.min.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="{xiao:$site_template}js/script.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/imagesloaded.min.js"></script>
	<!-- jQuery Sangar Slider -->
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarBaseClass.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSetupLayout.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSizeAndScale.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarShift.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSetupBulletNav.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSetupNavigation.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSetupSwipeTouch.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarSetupTimer.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarBeforeAfter.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarLock.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarResponsiveClass.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarResetSlider.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider/sangarTextbox.js"></script>
	<script type="text/javascript" src="{xiao:$site_template}js/sangarSlider.js"></script>
	<script>
//  var galleryTop = new Swiper('.gallery-top', {
//    spaceBetween: 10,
//  });
//  var galleryThumbs = new Swiper('.gallery-thumbs', {
//    spaceBetween: 10,
//    centeredSlides: true,
//    slidesPerView: "auto",
////    touchRatio: 0.2,
//    slideToClickedSlide: true,
//  });
//  galleryTop.controller.control = galleryThumbs;
//  galleryThumbs.controller.control = galleryTop;
//	jQuery(".fullSlide").slide({ titCell:".hd li", mainCell:".bd ul", effect:"fold",  autoPlay:true, delayTime:700 });
	var ww = $(window).width();
	jQuery(document).ready(function($) {
		if(ww>768){
			var sangar = $('#sangar-example').sangarSlider({
		        timer :  true, // true or false to have the timer
		        pagination : 'content-horizontal', // bullet, content, none
		        paginationContent : [
				{xiao:php $i = 1; }
				{xiao:list table=diy_huan   num=15}
				{xiao:if $i==1}"{xiao:$xiao['tp']}" {xiao:else},"{xiao:$xiao['tp']}"{/xiao:if} 
				{xiao:php $i++;}
				{/xiao:list}
				], // can be text, image, or something			        
		        paginationContentType : 'image', // text, image
		        paginationContentWidth : 153, // pagination content width in pixel
		        paginationImageHeight : 80, // pagination image height
		        width : 1920, // slideshow width'
				height : 800, // slideshow height'
		        fixedHeight: false,
		        scaleSlide : true, // slider will scale to the container size
		        animationSpeed : 1500,
			});
		}else{
			var sangar = $('#sangar-example').sangarSlider({
		        timer :  true, // true or false to have the timer
		        pagination : 'content-horizontal', // bullet, content, none
		        paginationContent : [
				
				{xiao:php $i = 1; }
				{xiao:list table=diy_huan   num=15}
				{xiao:if $i==1}"{xiao:$xiao['tp']}" {xiao:else},"{xiao:$xiao['tp']}"{/xiao:if} 
				{xiao:php $i++;}
				{/xiao:list}
				
				], // can be text, image, or something			        
		        paginationContentType : 'image', // text, image
		        paginationContentWidth : 103, // pagination content width in pixel
		        paginationImageHeight : 60, // pagination image height
		        fixedHeight: false,
		        scaleSlide : true, // slider will scale to the container size
		        animationSpeed : 1500,
			});
		}
	})		
  </script>