{xiao:template header.html}
		<!----顶部导航 结束 ------------>
		
		<div class="main">
			
			<!-----banner 结束----->
			<div class="activity-main">
				
				<div class="activity-div">
					<div class="wrap">
						{xiao:template curr.html}
						<div class="textDiv">
                            <div  class="ncontent">
                            	{xiao:$content}
                            </div>
                            
							<div class="end">
								- end -
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			
			<!--footer-->
			{xiao:template footer.html}
	<script src="{xiao:$site_template}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{xiao:$site_template}js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{xiao:$site_template}js/jquery.SuperSlide.2.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="{xiao:$site_template}js/wow.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{xiao:$site_template}js/script.js" type="text/javascript" charset="utf-8"></script>
