html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333;
	overflow-x:hidden;
}
.wrap{
	max-width: 1065px;
	margin: 0 auto;
}
ul{
	padding: 0;
	margin: 0;
}
li{ list-style:none;}
ul li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fp-tableCell{
	vertical-align: top;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
img{
	max-width: 100%;
}
input:focus,textarea:focus{
	outline: none;
}

/**导航菜单**/
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
header .logoDiv{
	line-height: 120px;
	background: #00325b;
}
header .logoDiv .wrap{
	position: relative;
}
header .logoDiv a.logoImg{
	margin-left: 25px;
}
header .logoDiv a.orderDiv{
	display: block;
	width: 134px;
	height: 163px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: url(../images/order-bg.png) no-repeat center center;
	background-size:100%;
	position: absolute;
	right: -134px;
	top: 0;
	z-index: 99;
	font-weight: bold;
}
header .menu{
	text-align: center;
	position: relative;
	background:#fff;
}
header .menu ul.level1>li{
	float: left;
	position: relative;
}
header .menu ul.level1>li>a{
	text-align: center;
	color: #00325b;
	font-size: 18px;
	display: block;
	position: relative;
	margin: 0 26px;
	padding: 20px 0 15px;
}
header .menu ul.level1>li>a span{
	display: block;
	font-size: 14px;
}
header .menu ul.level1>li>a:hover,
header .menu ul.level1>li>a:focus,
header .menu ul.level1>li>a.on{
	color: #f4cf46;
}

header .menu ul.level2{
	position: absolute;
	left: 0;
	top: 70px;
	display: none;
	background: #00325b;
	width:auto;
	z-index: 10;
}
header .menu ul.level2 li a{
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding: 0 20px;
	white-space: nowrap;
    text-align: left;
    display: block;
}
header .menu ul.level2 li a span{
	font-size: 14px;
}
header .menu ul.level2 li a:hover{
	background: #f4cf46;
}

header .mbtn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../images/menu.png) no-repeat center #f5cf47;
    background-size: 22px auto;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
header .mbtn:active{
    opacity: .8;
}
body.on-menu header .mbtn{
    background-image: url(../images/menu-hide.png);
}



/****底部***/
.footer{
	background: #012e53;
	padding: 100px 0;
	color: #ffffff;
}
.footer .conDiv{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
}
.footer .conDiv .textDiv .telDiv{
	margin: 20px 0 25px;
	font-weight: bold;
	line-height: 34px;
}
.footer .rightDiv{
	text-align: right;
}
.footer .ewmDiv{
	display: inline-block;
	text-align: center;
	margin-top: 50px;
}
.footer .ewmDiv:first-child{
	margin-right: 70px;
}
.footer .ewmDiv span{
	display: block;
	font-size: 20px;
	margin-top: 30px;
}


/********************************* 首页 **********************************/
.main{
	margin-top: 200px;
}
/*banner轮播*/
.index-banner{
    width: 100%;
	position:relative;
	margin-bottom: -90px;
	z-index:0;
}
/*.index-banner .imgDiv{
	background-size:auto 100%;
	position: relative;
	min-height:41.66666vw;
	display:flex;
    justify-content:center;
    align-items:center;
}
.index-banner .imgDiv .textContent{
	padding: 0 2vw;
	font-size: 5.013vw;
	color: #fff;
	text-align: center;
	text-shadow: rgba(33,33,33,.63) 10px 10px 15px;
}*/
/*
.carousel{
	position: relative;
}
.carousel-indicators{
	position: absolute;
	bottom: 0px;
	margin-bottom: 20px;
	z-index: 2;
}
.carousel-indicators li{
	width:143px; 
	height:70px; 
	margin:0px 10px;
	background:transparent;
	text-indent:0;
	border: 0;
}
.carousel-indicators li img{
	border: 5px solid #b2b2b2;
}
.carousel-indicators .active{
	width:143px; 
	height:70px; 
	border-radius: 0px;
	border: 0;
	background: transparent;
	margin:0px 10px;
}
.carousel-indicators .active img{
	border: 5px solid #fecf28;
}
.carousel-control{
	width: 34px;
	opacity: 1;
}
.carousel-control .glyphicon-chevron-left{
	background: url(../img/left-arrow.png);
	width: 34px;
	height: 73px;
	left: 0;
	margin-left: 0;
	margin-top: -35px;
}
.carousel-control .glyphicon-chevron-right{
	margin-right: 0;
	right: 0;
	background: url(../img/right-arrow.png);
	width: 34px;
	height: 73px;
	margin-top: -35px;
}
.glyphicon-chevron-left:before,.glyphicon-chevron-right:before{
	display: none;
}*/

/*.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
	display:flex;
    justify-content:center;
    align-items:center;
}
.gallery-top {
  height: 100%;
  width: 100%;
}
.index-banner .swiper-slide .textContent{
	padding: 0 2vw;
	font-size: 5.013vw;
	color: #fff;
	text-align: center;
	text-shadow: rgba(33,33,33,.63) 10px 10px 15px;
}
.gallery-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
  position: absolute;
  bottom: 10px;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 80px;
  opacity: 1;
  max-width:153px; 
 border: 5px solid #b2b2b2;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.gallery-thumbs .swiper-slide-active {
 border: 5px solid #fecf28;
}*/

/*.fullSlide{ width:100%; position:relative;  height:41.66666vw; overflow:hidden;  }
.fullSlide .bd{ position:relative; z-index:0;  }
.fullSlide .bd ul{ width:100% !important;  }
.fullSlide .bd li{ width:100% !important;  height:41.66666vw; overflow:hidden; text-align:center; }
.fullSlide .bd li a{ display:block; height:41.66666vw;
	display:flex;
    justify-content:center;
    align-items:center; 
    padding-bottom: 90px;
}
.fullSlide .bd li a .textContent{
	padding: 0 2.6vw;
	font-size: 5.013vw;
	color: #fff;
	text-align: center;
	text-shadow: rgba(33,33,33,.63) 10px 10px 15px;
}


.fullSlide .hd{ width: 100%;left: 0; bottom:15px; position:absolute; z-index:1; overflow:hidden;text-align: center;}
.fullSlide .hd ul{ display: inline-block; }
.fullSlide .hd ul li{ float:left; margin:0 5px; display:inline; cursor:pointer; }
.fullSlide .hd ul li img{ width:153px; line-height:80px; display:block; border:5px solid #b2b2b2;}
.fullSlide .hd ul .on img{ border-color:#fecf28; filter:alpha(opacity=100);opacity:1;  }*/

.sangar-slideshow-container .slideWrapperInside .sangar-content img{max-width: initial;}
.sangar-slideshow-content .wrap{
	width: 1065px;
	max-width: 100%;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	text-align: center;
}
.sangar-slideshow-content .wrap .textContent{
	padding: 0 2.6vw;
	font-size: 5.013vw;
	color: #fff;
	text-align: center;
	text-shadow: 0 0.1em 0.2em #000, 0 0.1em 0.2em #000
}

.index-main .index-div1{
	padding: 80px 0;
	background: #fff;
	position: relative;
	z-index: 1;
}
.index-div1 .titleDiv{
	font-size: 32px;
	color: #555555;
	font-weight: bold;
	margin-bottom: 60px;
}
.index-div1 .textDiv{
	font-size: 18px;
	color: #555555;
	line-height: 28px;
}
.index-div1 .textDiv p{
	margin-bottom: 30px;
}
.index-div1 a.more_a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	width: 167px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	background:#00325b;
	margin-bottom: 10px;
}
.index-div1 a.more_a:hover{
	opacity: .8;
}

.index-main .index-div2{
	padding: 30px 0 110px;
	position: relative;
}
.index-div2 .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
}
.index-div2 .wrap{
	position: relative;
}
.index-div2 .titleDiv{
	font-size: 32px;
	color: #333;
	font-weight: bold;
	margin-bottom: 60px;
}
.index-div2 .textDiv{
	font-size: 18px;
	color: #555555;
	line-height: 28px;
}
.index-div2 .textDiv p{
	margin-bottom: 30px;
}
.index-div2 .row{
	margin: 95px 0;
	text-align: center;
}
.index-div2 .row>div .textDiv{
	margin-top: 30px;
}
.index-div2 .row>div .textDiv span{
	font-size: 32px;
	color: #333;
}
.index-div2 .row>div .textDiv p{
	font-size: 24px;
	color: #888888;
	margin: 10px 0 0;
}
.index-div2 a.more_a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	width: 534px;
	height: 70px;
	line-height: 70px;
	text-align: left;
	padding:0 30px;
	background:#00325b;
}
.index-div2 a.more_a:hover{
	opacity: .9;
}


.index-div3{
	padding: 90px 0;
}
.index-div3 .titleDiv{
	font-size: 32px;
	color: #555555;
	font-weight: bold;
}
.index-div3 .textList{
	margin: 60px 0;
}
.index-div3 .textList ul li:first-child a{
	font-weight: bold;
}
.index-div3 .textList ul li a{
	display: block;
	overflow: hidden;
	font-size:18px;
	color: #555;
	margin-bottom: 20px;
}
.index-div3 .textList ul li a span.text{
	display: block;
	float: left;
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.index-div3 .textList ul li a span.date{
	display: block;
	float: right;
}
.index-div3 .textList ul li a:hover{
	color: #2269c1;
}

.index-div3 a.more_a{
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	width: 167px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	background:#00325b;
	margin-bottom: 10px;
}
.index-div3 a.more_a:hover{
	opacity: .8;
}

.close{
	font-size: 50px;
	font-weight: bold;
	text-shadow:none;
	color: #fff;
	opacity: .33;
	position: absolute;
    right: 10px;
    top: 0;
}
.close:hover{
	opacity: 1;
	color: #fff;
}
.modal-open .modal{
    display:flex;
    justify-content:center;
    align-items:center;
}
.modal.in .modal-dialog{
	/*-webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%);*/
}
.modal-content{
	border-radius: 0;
}
.modal-header{
	background: #f5f5f5;
	font-size: 18px;
	color: #333333;
	padding: 0 30px;
}
.modal-header h4{
	line-height: 70px;
	height: 70px;
}
.modal-body{
	padding:50px 30px;
}
.modal-body .form-group{
	margin:0 0 30px;
}
.modal-body .form-group .form-control{
	height: 45px;
	line-height: 45px;
	background: #f5f5f5;
	border-radius: 0;
}
.modal-body .form-group .form-control:focus{
	border: 1px solid #00325b;
}
.radio-inline{
	padding-left: 15px;
	padding-right: 30px;
	font-size: 17px;
	
}
.radio input[type="radio"], .radio-inline input[type="radio"]{
	margin-left: 5px;
	margin-top: 7px;
}
.modal-body .subBtn{
	width: 97px;
	height: 50px;
	line-height: 50px;
	background: #00325b;
	color: #fff;
	border: 0;
	border-radius: 0;
	font-size: 18px;
	font-weight: bold;
	padding: 0;
}


/***********动态***********/
.activity-div{
	padding: 60px 0;
}
.activity-div .titleDiv{
	overflow: hidden;
}
.activity-div .titleDiv .fl{
	font-size: 32px;
	color: #555555;
	font-weight: bold;
}
.activity-div .titleDiv .fr{
	font-size: 24px;
	color: #666;
	line-height: 45px;
}
.activity-div .textList{
	border-top: 1px solid #7f98ad;
	margin: 25px 30px;
	padding-top: 35px;
}
.activity-div .textList ul li a{
	display: block;
	overflow: hidden;
	font-size:18px;
	color: #555;
	margin-bottom: 20px;
}
.activity-div .textList ul li a span.text{
	display: block;
	float: left;
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.activity-div .textList ul li a span.date{
	display: block;
	float: right;
}
.activity-div .textList ul li a:hover{
	color: #2269c1;
}
body.on-fixed header .menu{
	border-bottom: 1px solid rgb(0,0,0,.08);
}
.activity-div .imgList{
	border-top: 1px solid #7f98ad;
	margin: 25px 30px;
	padding-top: 35px;
}
.activity-div .imgList .itemDiv{
	margin-bottom: 60px;
	text-align: center;
}
.activity-div .imgList .itemDiv .text{
	font-size: 24px;
	color: #555;
	margin-top: 10px;
}
.activity-div .imgList .itemDiv .text strong{
	margin-right: 15px;
}
.activity-div .textDiv{
	border-top: 1px solid #7f98ad;
	margin: 25px 30px;
	padding-top: 35px;
}
.activity-div .textDiv img{
	margin: 0;
}
.activity-div .textDiv .smlTit{
	margin: 50px 0;
	font-size: 20px;
	color: #00325b;
}

.activity-div .textDiv .end{
	text-align: center;
	font-size: 24px;
	color: #555555;
	opacity: .5;
	text-transform: uppercase;
	margin-top: 25px;
}
.activity-div .imgList .row>div{
	text-align: center;
	margin-bottom: 65px;
}
.activity-div .imgList .row>div .text{
	padding-top: 20px;
	color: #555555;
}
.activity-div .imgList .row>div strong{
	font-size: 30px;
	display: block;
}
.activity-div .imgList .row>div span{
	font-size: 22px;
}
.activity-div .imgList .row>div:hover .text{
	color: #00325b;
}

/*body:after {
    content: '';
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
body.on-menu:after {
    display: block;
}*/

@media (max-width:1400px) {
	header .logoDiv a.orderDiv{right: 0;}
}

@media (max-width:1085px) {
	.wrap{width: 100%;padding: 0 25px;}
}
@media (min-width:992px) and (max-width:1024px) {
	header .menu ul.level1>li>a{margin: 0 20px;}
}
@media (max-width:991px) {
	header {
		position: fixed !important;
		z-index: 999;
		top: 0;
		left: auto;
		right: 0;
		width: 100%;
		height: 70px;
		/*background-color: transparent;*/
		transition: right 300ms !important;
	}
	header .logoDiv{line-height: 70px;}
	header .logoDiv a.logoImg{margin-left: 0;}
	header .logoDiv a.logoImg img{max-height: 70px;}
	header .logoDiv a.orderDiv{width: 104px;height: 40px;line-height: 40px;margin-top: 15px;font-size: 16px;text-align: center;right: 25px;}
	body.on-menu header {right: 0;}
	header .mbtn {display: block;right: 140px;margin-top: 15px;}
	header .menu {
		float: right;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		padding-top: 0;
		background-color: #fff;
		border-bottom: 1px solid #fff;
		transition: top 500ms;
		top: -100%;
		padding: 0;
		overflow-y: auto;
		z-index: -1;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	}
	header .menu .wrap{padding: 0;}
	header .menu ul {display: block;margin-top: 0;}
	header .menu ul li a.on {background: none;color: #fff;}
	body.on-menu header .menu {top: 70px;}
	body.on-menu .main {right: 0;}
	header .menu ul.level1>li{float: initial;}
	header .menu ul.level1>li>a{font-size: 16px;margin: 0;padding: 15px 0 10px;}
	header .menu ul.level1>li>a span{font-size: 12px;}
	header .menu ul.level2{width: 100%;position: relative;top: 0;}
	header .menu ul.level2 li a{text-align: center;font-size: 14px;white-space:initial;line-height: initial;padding: 10px 0;}
	header .menu ul.level2 li a span{font-size: 12px;}
	.main {position: relative;margin-top: 70px;}
	.index-div2 .row>div{margin-bottom: 30px;}
	.footer .rightDiv{text-align: center;}
}
@media (min-width:768px) and (max-width:991px) {
	header .menu ul.level1>li>a{margin: 0 16px;}
}

/*手机*/
@media (max-width:767px) {
	.wrap{padding: 0 15px;}
	header .logoDiv{line-height: 50px;}
	header .logoDiv a.logoImg img{max-height: 45px;}
	header .logoDiv a.orderDiv{margin-top: 7.5px;right: 10px;font-size: 12px;width: 80px;height: 35px;line-height: 35px;}
	header .mbtn{margin-top: 7.5px;right: 100px;height: 35px;width: 35px;background-size: 20px auto;}
	.index-banner .imgDiv{min-height: 55vw;}
	.carousel-indicators{margin-bottom: 10px;}
	.carousel-indicators li,.carousel-indicators .active{margin: 0 3px;}
	.main {position: relative;margin-top: 50px;}
	body.on-menu header .menu{top: 50px;}
	.index-main .index-div1{padding: 40px 0;}
	.index-div1 .titleDiv{font-size: 20px;margin-bottom: 30px;}
	.index-div1 .textDiv,.index-div2 .textDiv{font-size:16px;line-height: 26px;}
	.index-div1 .textDiv p{margin-bottom: 20px;}
	.index-div1 a.more_a,.index-div3 a.more_a{line-height: 55px;height: 55px;width: 147px;}
	.index-main .index-div2{padding: 15px 0 55px;}
	.index-div2 .titleDiv{font-size: 20px;margin-bottom: 30px;}
	.index-div2 .row{margin: 45px 0 25px;}
	.index-div2 .row>div .textDiv{margin-top: 20px;}
	.index-div2 .row>div .textDiv span{font-size: 20px;}
	.index-div2 .row>div .textDiv p{font-size: 16px;margin-top: 0px;}
	.index-div2 a.more_a{max-width: 100%;text-align: center;line-height: initial;padding: 15px;height: initial;}
	.index-div3{padding: 45px 0;}
	.index-div3 .titleDiv{font-size:20px;}
	.index-div3 .textList{margin: 30px 0;}
	.index-div3 .textList ul li a{font-size: 16px;margin-bottom: 15px;}
	.footer{padding: 50px 0;}
	.footer .ewmDiv:first-child{margin-right: 0;}
	.footer .conDiv,.footer .ewmDiv span{font-size: 16px;}
	.footer .ewmDiv{margin-top: 25px;display: block;}
	.footer .ewmDiv img{max-width: 50%;}
	.footer .ewmDiv span{margin-top: 15px;}
	.footer .conDiv .textDiv .telDiv{margin: 10px 0 15px;line-height: 26px;}
	
	.activity-div{padding: 30px 0;}
	.activity-div .titleDiv .fl{font-size: 20px;}
	.activity-div .titleDiv .fr{font-size: 16px;line-height: 28px;}
	.activity-div .textList,.activity-div .imgList,.activity-div .textDiv{margin: 15px 0;padding-top: 20px;}
	.activity-div .textList ul li a{font-size: 16px;margin-bottom: 15px;}
	.activity-div .imgList .itemDiv .text{font-size:18px;}
	.activity-div .imgList .itemDiv{margin-bottom: 30px;}
	.activity-div .imgList .itemDiv .text strong{margin-right: 10px;}
	.activity-div .textDiv .smlTit{margin:30px 0;font-size: 18px;}
	.activity-div .textDiv p{margin: 20px 0;font-size: 16px;line-height: 30px;}
	.activity-div .textDiv .end{font-size: 20px;}
	.activity-div .imgList .row>div{margin-bottom: 35px;}
	.activity-div .imgList .row>div .text{padding-top: 10px;}
	.activity-div .imgList .row>div strong{font-size: 20px;}
	.activity-div .imgList .row>div span{font-size: 14px;}
	.modal-dialog{width: 100%;margin: 0;}
	.modal-header h4{height: 50px;line-height: 50px;}
	.modal-body{padding: 30px;}
	.close{font-size: 36px;}
	
	.gallery-thumbs .swiper-slide{height: 50px;}
	.gallery-thumbs{height: 60px;bottom: 0;}
	.gallery-thumbs .swiper-slide{border-width: 3px;}
	
	.index-banner{margin-bottom: -140px;}
	.sangar-slideshow-container .sangar-pagination-wrapper{bottom: 145px;}
}

@media (max-width:320px) {
	.close{color: #333;z-index: 1;opacity: 1;top: 5px;}
	.modal.in .modal-dialog,.modal-content{height: 100%;}
}

/*my*/
/*.activity-div .textDiv p{
	font-size: 18px;
	color: #555;
	line-height: 36px;
	margin: 40px 0;
}*/

.ncontent{
	font-size: 18px;
	color: #555;
	line-height: 36px;
}
.xiaocms-page { padding:14px 0 10px;font-family:\5b8b\4f53; margin-right: 10px; font-size:16px; }
.xiaocms-page a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px;margin-left: 5px;}
.xiaocms-page a:hover {background: #00325b;color: #fff;text-decoration:none;}
.xiaocms-page span {  font-size:16px !important; display:inline-block;height:22px;padding:0 10px;line-height:22px;background: #00325b;bord;border: 1px solid #00325b;color:#fff;text-align:center;margin-left: 5px;}
 .listpage{
            padding:5px;
            font-size:16px;
            line-height:200%;
            }

@media (max-width:767px) {
.ncontent{ font-size: 16px;line-height: 30px;}
.xiaocms-page{ font-size:13px;}
.xiaocms-page span{ font-size:13px;}
}
	
	